<div style="position: fixed; left: 0; bottom: 0; width: 100%">
  <div>
    <footer class="text-center p-3 bg-dark text-white">
      <p class="m-0">&#169; All Rights Reserved. Developed By Vivek Sharma</p>
    </footer>
  </div>
</div>
