<!-- shows create project button on project page and create issue buton if the project is open -->
<nav
  class="navbar navbar-expand-sm bg-light d-flex justify-content-space-between bg-dark"
>
  <div class="container-fluid">
    <h2>
      <a class="navbar-brand ms-4 text-white" href="/"> Issue Tracker </a>
    </h2>
    <div>
      <% if( title === "Project Page"){ %> <%- include('_issue_form'); %> <%
      }else{ %> <%- include('_project_form'); %> <% } %>
    </div>
  </div>
</nav>
